#header {
background: #FFFFFF;
padding: 12px;
border: 1px solid black;
padding-left: 19px;
}

#main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#nav {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 12em;
  -moz-box-flex: 0;
  -ms-flex: 0 0 12em;
  height: 1000px;
  flex: 0 0 12em;
  background: #fff;
  border: 1px solid black;
  border-top:none;
}

.nav li{
  border: 1px solid black;
width: 100%;
height: 30px;
padding-top: 10px;
border-right:0;
}

#feature {
  padding: 0 2em;
}
.nav:hover li:hover {
background-color: #EFF0F8;
border-right:1px black;
}
.groupe th,td{ padding:8px;}
.groupe button {
  background: none;
  border: 1px solid #008ABF;
  padding: 9px;
  color: #231F20;
}
.nav a{
  padding-left:20px;
}

.groupe button:hover{
  transition:0.1s ease-in;
  background-color: #008ABF;
  border: 1px solid #008ABF;
  padding: 9px;
  color: #fff;
}





