/**
 * `static/css/main.css`
 *
 * Worked on by: David Yan (Team 1, Group A)
 *   2014-06-10: Created the main css file as part of the AngularJS shell
 *   2014-06-11: Added base app styles based on mockups done by another group
 *
 * Worked on by: Jamie To (Team 1, Group A)
 *   2014-06-25: Structured the CSS file with sections and comments
 *   2014-07-18: Removed unused styles
 */

/*---------------------------------------------------
Project:  Focus

[TOC]

1.  Body
2.  Header /#header
3.  Main View /#main
4.  Course Navigation /#nav
5.  Sub Navigation /.sub-nav
6.  Partial view /#feature
7.  Footer

[Color codes]
Background:
---------------------------------------------------*/

/*----------------------
          Header
----------------------*/

#header {
  background: #f5f5f5;
}


/*----------------------
    Partial View
----------------------*/

#feature {
  padding: 0 2em;
}

/*----------------------
       Footer
----------------------*/


