<div class="accounts" id="accounts-create-instructor">
  <form
    name="create-form"
    class="form-horizontal"
    autocomplete="on"
    ng-submit="create(email)">
    <fieldset>
      <legend class="page-header">Create Instructor</legend>

      <div class="form-group">
        <label class="col-sm-2 col-lg-1 control-label">Email</label>
        <div class="col-sm-10 col-lg-11">
          <input
            type="email"
            class="form-control"
            ng-model="email"
            placeholder="Email"
            required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button
            type="submit"
            value="Add"
            class="btn btn-primary btn-md pull-right">
            <span class="glyphicon glyphicon-plus"></span> Create
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
