<div class="col-md-12" id="attendence">
	<div class="page-header">
    <h2>
      Attendance
      <small ng-bind="course.name" class="ng-binding">asdf</small>
    </h2>
  </div>


<div class="groupe" style="float:left;">
<div style="border: 1px solid #A8A8A8;padding:20px;padding-top:0px;">
<h2 class="margin-bottom:20px;" ng-bind="startAttendance"></h2>
<button class="btn btn-primary" ng-click="doClick()" >Start Attendance</button>
<p class="bg-warning" style="margin-top:10px;width:135px;padding:10px;" ng-bind="startAttendanceResults"></p>



	<div class="h4" ng-bind="counter"></div><div style="margin-top:-30px; margin-left:35px;"class="h4">seconds</div>
	<div class="h4">Pin: <span ng-bind="pin"></span></div>

</div>

<div style="border: 1px solid #A8A8A8;padding:20px;padding-top:0px;margin-top:15px;">
	<h2 ng-bind="viewAttendance"></h2>
	<table>
	<th>ID</th><th>Student #</th><th>Class ID</th><th>Timestamp</th><th>Status</th>
	<tr ng-repeat="i in tableData">
	<td>{{tableData[$index].id}}</td>
	<td>{{tableData[$index].student_id}}</td>
	<td>{{tableData[$index].class_id}}</td>
	<td>{{tableData[$index].timestamp}}</td>
	<td>{{tableData[$index].status}}</td>
	</tr>
	</table>
</div>

<div style="border: 1px solid #A8A8A8;padding:20px;padding-top:0px;margin-top:15px;">
<h2> Modify Attendance</h2>
<div class="tableContainer">
<div class="modifyAttendance">
</div>
<table>
<th>ID</th><th>Student #</th><th>Class ID</th><th>Timestamp</th><th>Status</th><th>More</th>
<tr class='modifyAttendanceRow{{tableData[$index].id}}'ng-repeat="i in tableData">
<td>{{tableData[$index].id}}</td>
<td>{{tableData[$index].student_id}}</td>
<td>{{tableData[$index].class_id}}</td>
<td>{{tableData[$index].timestamp}}</td>
<td>{{tableData[$index].status}}</td>
<td> <a style="cursor:pointer;" ng-click="testAlert($event)"class="{{tableData[$index].id}}">Edit</a></td>
</tr>
</table>
</div>
</div>

</div>
<div style="border: 1px solid #A8A8A8;
padding: 20px;
padding-top: 0px;
float: left;
margin-left: 15px;
width: 300px;
height: 379px;"><h2 ng-click="doStats()">Stats</h2>
<button class="btn btn-primary" ng-click="getStats()" >Get Stats</button>
<h3> Total Check In: <div ng-bind="totalAttendance"></div> </h3>
</div>

</div>
