<div ng-if="!User.isLoggedIn" class="col-md-12">
  <div class="page-header">
    <h1>focus</h1>
  </div>
  <p>focus is cool.</p>
</div>

<div
  ng-if="User.isLoggedIn &amp;&amp; User.session.is_instructor"
  class="accounts main col-md-12 col-sm-12"
  id="accounts-create-course">
  <div class="page-header">
    <h2>My Courses</h2>
  </div>
  <p ng-show="!courses.length">No courses.</p>
  <div ng-show="courses.length">
    <div class="well well-sm" ng-repeat="course in courses">
      <a href="/course/{{course.id}}" ng-bind="course.name"></a>
    </div>
  </div>
  <form
    name="create-form"
    class="form-horizontal"
    autocomplete="on"
    ng-submit="create(name, emails)">
    <fieldset>
      <legend class="page-header">Create Course</legend>

      <div class="form-group">
        <label class="col-sm-2 col-lg-1 control-label">Course Name</label>
        <div class="col-sm-10 col-lg-11">
          <input
            type="text"
            class="form-control"
            ng-model="name"
            placeholder="Course Name"
            required>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 col-lg-1 control-label">Student Emails</label>
        <div class="col-sm-10 col-lg-11">
          <textarea
            class="form-control"
            ng-list
            ng-model="emails"
            placeholder="Student Emails"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button
            type="submit"
            value="Create"
            class="btn btn-primary btn-md pull-right">
            <span class="glyphicon glyphicon-plus"></span> Create
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div
  class="accounts main col-md-12 col-sm-12"
  ng-if="User.isLoggedIn &amp;&amp;
    !User.session.is_admin &amp;&amp;
    !User.session.is_instructor">
  <div class="page-header">
    <h2>Hello student!</h2>
  </div>
  <p>This site is for instructors. To use focus, please use your iOS device.</p>
</div>
