<div class="accounts" id="accounts-login">
  <form
    name="login-form"
    class="form-horizontal"
    autocomplete="on"
    ng-submit="login(email, password)">
    <fieldset>
      <legend class="page-header">Login</legend>

      <div class="form-group">
        <label class="col-sm-2 col-lg-1 control-label">Email</label>
        <div class="col-sm-10 col-lg-11">
          <input type="email"
            ng-model="email"
            class="form-control"
            placeholder="Email"
            required>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 col-lg-1 control-label">Password</label>
        <div class="col-sm-10 col-lg-11">
          <input type="password"
            ng-model="password"
            class="form-control"
            placeholder="Password"
            required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button
            type="submit"
            value="Login"
            class="btn btn-primary btn-md pull-right">
            <span class="glyphicon glyphicon-log-in"></span> Login
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
